#nav{
    height: 65px;
    background-color: rgb(12, 123, 22);
    color: aliceblue;
}
body{
    background-color: rgb(255, 255, 255);
}
#title
{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: rgb(63, 20, 20);
    font-weight: bold;
}
#subtitle
{
    text-align: center;
    font-size: 20px;
    color: rgb(63, 20, 20);
    font-weight: bold;


}